doctype html
html
	head
		title=Index
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/dist/main.css" rel="stylesheet")
	body
		div.row
			div.col.menu
				form.d-flex.gap-3.menu-header
					input.form-control(type='search' placeholder='Search')
					button.btn.btn-outline-success(type='submit') Search
				div.d-flex.flex-column.gap-3.menu-body
					div.category
						div.header
							h4.mb-1 Pizza
							hr.mt-0
						div.items.d-flex.flex-column.gap-3
							div.card.menu-item
								div.card-body.clearfix
									h5.card-title Pepperoni
									h6.card-subtitle.mb-2.text-body-secondary Tomato, Cheese, Pepperoni, Basil
									p.card-text.mb-0 The classic Pepperoni pizza, with Alfredo's homemade tomato sauce.
									button.btn.btn-primary.float-end Add
			form.col.order.d-flex.flex-column.gap-2
				div.d-flex.justify-content-center.m-1
						div.form-group.toggle-check-pair
							input#check-delivery.btn-check(type='radio' name='radio-delivery' checked required)
							label.flex-fill.btn.btn-primary(for='check-delivery' style='--bs-btn-border-width: 0px; --bs-btn-color: #000; --bs-btn-active-color: #FFF; --bs-btn-active-bg: #0d6efd; --bs-btn-bg: #FFF; border-radius: 30px 0px 0px 30px;') Delivery
							input#check-collection.btn-check(type='radio' name='radio-delivery' required)
							label.flex-fill.btn.btn-primary(for='check-collection' style='--bs-btn-border-width: 0px; --bs-btn-color: #000; --bs-btn-active-color: #FFF; --bs-btn-active-bg: #0d6efd; --bs-btn-bg: #FFF; border-radius: 0px 30px 30px 0px;') Collection
				div.form-group.form-floating
					input.form-control(type='text' name='name')
					label(for='name') Name
				div.form-group.form-floating
					input.form-control(type='text' name='email')
					label(for='name') E-Mail
				div.form-group.form-floating
					input.form-control(type='tel' name='phone')
					label(for='phone') Phone (Optional)
				div.row
					div.col-md-8.form-group
						div.form-floating
							input.form-control(type='text' name='address')
							label(for='name') Address
					div.col-md-4.form-group
						div.form-floating
							input.form-control(type='text' name='postcode')
							label(for='name') Eircode (Optional)
				h3.mb-1 Cart
				hr.mt-0
	script(src="/dist/bootstrap.min.js")