<div class="cart-body">
    @for (item of cart; track item.id) {
        <div class="menu-item-s">
            <div>
                <div>
                    <h5>{{item.title}}</h5>
                    <h6>{{item.ingredientDesc}}</h6>
                </div>
                <div>
                    <div>
                        <p>{{item.desc}}</p>
                    </div>
                    <div class="d-flex flex-row h-25 align-self-end gap-1"><button class="btn-remove">-</button><input type="number" [value]="item.quantity" min="0" max="99" /><button class="btn-add">+</button></div>
                </div>
            </div>
        </div>
    }
</div>