include ./mixins/nav.pug
doctype html
html
	head
		title=Index
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/dist/index.css" rel="stylesheet")
	body.container-fluid.p-0
		+nav
		div.row.mt-3
			div.col-md-2.ps-4
			script(src="/dist/angular/browser/polyfills.js" type="module")
			script(src="/dist/angular/browser/main.js" type="module")
			menu
			form.order-body
				div.mx-auto
					div.form-group.toggle-check-pair
						input#check-delivery.btn-check(type='radio' name='radio-delivery' checked required)
						label.btn.btn-primary-toggle-white(for='check-delivery' style='border-radius: 30px 0px 0px 30px; width: 50%;') Delivery
						input#check-collection.btn-check(type='radio' name='radio-delivery' required)
						label.btn.btn-primary-toggle-white(for='check-collection' style='border-radius: 0px 30px 30px 0px; width: 50%;') Collection
				div.form-group.form-floating
					input(type='text' name='name' value=(user) ? user.name : '')
					label(for='name') Name
				div.form-group.form-floating
					input(type='text' name='email' value=(user) ? user.email : '')
					label(for='name') E-Mail
				div.form-group.form-floating
					input(type='tel' name='phone' value=(user && user.phone) ? user.phone : '')
					label(for='phone') Phone (Optional)
				div.row.input-address-group
					div.col-md-8.form-group
						div.form-floating
							input(type='text' name='address' value=(user) ? user.address : '')
							label(for='name') Address
					div.col-md-4.form-group
						div.form-floating
							input(type='text' name='postcode' value=(user && user.eircode) ? user.eircode : '')
							label(for='name') Eircode (Optional)
				h3.mx-auto.mb-1 Cart
				div.cart-body
					div.menu-item-s
						div
							div
								h5 Pepperoni
								h6 Tomato, Cheese, Pepperoni, Basil	
							div
								div
									p The classic Pepperoni pizza, with Alfredo's homemade tomato sauce.
								div.d-flex.flex-row.h-25.align-self-end.gap-1
									button.btn-remove -
									input(type='number' value=1 min=0 max=99)
									button.btn-add +
				button.btn.btn-primary(type='submit' formaction='./api/test' formmethod='POST') Place Order
	script(src="/dist/bootstrap.min.js")