include ./mixins/nav.pug
doctype html
html.h-100
	head
		title=Index
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/dist/main.css" rel="stylesheet")
	body.container-fluid.d-flex.flex-column.h-100
		
		div.row.flex-grow-1
			div.col-lg-4.bg-dark.d-none.d-lg-block
				div.h-100.d-flex
					div.h-50.align-self-center
						img(src='/images/logo_wtext.png').w-100
			div.col-lg-8.d-flex.flex-column
				+nav
				div.row.flex-grow-1
					form.w-50.align-self-center.d-flex.flex-column.align-items-center.mx-auto.gap-2.mb-5.register-body
						h2 Login
						div.form-group.form-floating.w-100
							input(type='text' name='email')
							label(for='name') E-Mail
						div.form-group.form-floating.w-100
							input(type='password' name='password')
							label(for='name') Password
						button.btn.btn-primary.btn-lg.align-self-end(type='submit' formaction='/login/auth' formmethod='POST') Login

	script(src="/dist/bootstrap.min.js")